# 参数配置参考来源：https://www.baeldung-cn.com/java-lombok-equalsandhashcode

# 根目录为当前配置文件所在目录
config.stopBubbling=true

# skip：是不包含父类字段；
# warn：是不包含父类字段，但会在编译时产生一条告警；
#   PS：@EqualsAndHashCode如果是 warn，idea 会在代码上产生一个提示；而@ToString不会。
#   Lombok 插件已经是最新的，可能是 Idea 版本不支持（2019.3）。
#call：即是想要的，包含父类字段。

# 如果设置为 call，则 Lombok 在为子类生成这些方法时，将包含对 hashCode（） 和 equals（） 的超类实现的调用。
# 如果设置为 skip，则不会生成此类调用。
# 默认设置（warn）类似于 skip，但带有额外的警告。

# 全局设置@EqualsAndHashCode的callSuper属性为true
# [call | skip | warn] (default: warn)
lombok.equalsAndHashCode.callSuper = call

# Lombok 会将 @EqualsAndHashCode 的任何使用情况标记为警告或错误（如果已配置）。
# [warning | error] (default: not set)
#lombok.equalsAndHashCode.flagUsage =

# 当设置为 true 时，Lombok 将在生成 equals（） 和 hashCode（） 方法时直接访问字段，而不是使用 getters（如果可用）。
# 但是，如果显式指定了注释参数 doNotUseGetters，则它优先于此设置。
# [true | false] (default: false)
lombok.equalsAndHashCode.doNotUseGetters = false

# 全局设置@ToString的callSuper属性为true
# [call | skip | warn] (default: warn)
lombok.toString.callSuper = call


